*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1{
    background-color: rgb(95, 91, 91);
    color: aqua;
    height: 60px;
    line-height: 60px;
}

.chioces{
   display: flex; 
   gap: 25px;
   justify-content: center;
      align-items: center;
      margin-top: 80px;

}
.chioce{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.chioce:hover{
    background-color: rgb(255, 0, 0);
    /* opacity: 0.5; */
    cursor: pointer;
}
img{
height: 150px;
width: 150px;
object-fit: cover;
border-radius: 50%;
/* cursor: pointer; */

/* color: red; */
/* background: transparent; */
}