.mid{
    text-align: center;
}
.chioces{
   display: flex; 
   gap: 25px;
   justify-content: center;
      /* align-items: center; */

}
.chioces img{
/* height: 250px; */
width: 100px;
border-radius: 50%;
cursor: pointer;
/* color: red; */
/* background: transparent; */
}